.wrapper {
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    color: rgb(0, 0, 0);
    overflow: auto;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    
    
}